.footer__menu {
    padding-right: 19px;
}

.footer__menu:last-child {
    padding-right: 0;
}

@media (max-width: 320px) {
    .footer__menu {
        padding-right: 0;
        margin-bottom: 32px;
    }
    .footer__menu:last-child {
        margin-bottom: 0;
    }
}