.footer__links {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}