.cover__text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 245px;
    left: 360px;
    max-width: 560px;
    z-index: 10;
    justify-self: center;
}

@media (max-width: 1024px) {
    .cover__text {
        top: 195px;
        left: 232px;
    }
}

@media (max-width: 768px) {
    .cover__text {
        top: 115px;
        left: 104px;
    }
}

@media (max-width: 320px) {
    .cover__text {
        top: 33px;
        left: 16px;
    }
}