.header__links {
    max-width: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    list-style: none;
}

@media (max-width: 320px) {
    .header__links {
        width: 58px;
        margin-bottom: 8px;
    }
}